body {
    margin: 0;
    overflow: hidden;
}

.map_canvas {
    height: 100%;
    width: 100%;
}

.popup_message {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;

    transition: opacity 1s;
    opacity: 0;
    overflow: hidden;
}

@media only screen and (min-width: 481px) {
    .popup_message {
        min-width: 100px;
        min-height: 60px;

        max-width: 400px;
        max-height: 350px;

        border-radius: 7px;
    }
}

@media only screen and (max-width: 480px) {
    .popup_message {
        top: 0!important;
        left: 0!important;
        width: 100vw!important;
        height: 100vh!important;
    }
}

.popup_message__title {
    border-bottom: solid 1px rgb(70, 70, 70);
    padding: 15px 10px 17px;
    margin: 0;
}

@media only screen and (max-width: 480px) {
    .popup_message__title {
        flex: auto;
    }
}

.popup_message__actions {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    .popup_message__actions span {
        justify-content: center;
    }
}

.popup_message__actions:hover span {
    filter: blur(1.2px);
}

.popup_message__actions span {
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 25px;
    transition: filter 0.5s ease-out;
}

.popup_message__actions span:hover {
    background-color: #e1b766;
    color: #000;
    box-shadow: 0 0 7px rgba(225, 183, 102, 0.6);
    cursor: pointer;
    filter: blur(0px)!important;
    transition: filter 0.2s ease-out;
}
